.prose pre {
    background: #161730 !important;
    color: #d9dbdf !important;
    padding: 1.2em !important;
    border: 1px solid #1f213b !important;
    overflow-x: auto;
    white-space: pre-wrap !important;
    box-sizing: border-box !important;
}

.hljs {
    background: #161730;
    color: #d9dbdf;
    padding: 1.2em;
    border: 1px solid #1f213b;
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
    box-sizing: border-box;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #58e6d9;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #a4a0fb;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color: #605c9d;
}

.hljs-keyword,
.hljs-doctag,
.hljs-formula {
    font-weight: bold;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #f056c7;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-name {
    color: #d9dbdf;
}

.hljs-title.class_.hljs-title {
    color: #58e6d9;
}

.hljs-code {
    background-color: #21233d;
    padding: 0.4em 0.6em;
    border-radius: 4px;
    color: #d9dbdf;
}

.hljs-inline-tag {
    color: #a4a0fb;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.code-container {
    overflow: auto;
    width: 100%;
}
